    <div class="mb-5 pt-3">
        <a href="/dashboard/create/"><button id="create-post" class="button is-primary is-pulled-right">add post</button></a>
        
        <h2 class="title pb-4">Dashboard: Your Posts</h2><hr>
{{#if albums.length}}
    </div>

    {{#each albums as |album|}}
        {{> album-info album}}
        
            <a href="/dashboard/edit/{{album.id}}"><button class="button mb-5 ml-5 is-warning">edit post</button></a>
        </div>
    {{/each}}

{{else}}
<h6 class="pb-4 has-text-centered is-italic">you do not currently have any album posts</h6>

{{/if}}


